.chatContainer {
  display: flex;
  padding: 12px;
  padding-left: 60px;
  padding-right: 4px;
  border: 0.5px solid rgba(208, 208, 208, 2);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  gap: 16px;
  position: relative;
}

.chatContainer > img {
  width: 50px;
  height: 50px;
}

.chatContainer:hover {
  background-color: rgba(208, 208, 208, 0.4);
}

.chatContainer > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  width: 100%;
  overflow: auto;
}

.horario {
  position: absolute;
  bottom: 4px;
  right: 4px;
  opacity: 0.7;
  font-size: 12px;
  padding-right: 66px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.message {
  opacity: 0.8;
  font-size: 14px;
  width: 75%;
}

.conversation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 66px;
  padding-right: 66px;
  border-bottom: 0.5px solid rgba(208, 208, 208, 2);
}

.scroll {
  margin-right: 2px;
  overflow: auto;
  height: 83vh;
}

.messageDefault {
  height: 97%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messageDefault > img {
  width: 100px;
  height: 100px;
  display: flex;
}

.messageHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 60px;
  padding-right: 60px;
  padding: 5.5px;
  border-bottom: 0.5px solid rgba(208, 208, 208, 2);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.perfil > img {
  width: 50px;
  height: 50px;
  display: flex;
}

.perfil > span {
  margin-left: 6px;
  font-weight: bold;
  font-size: 16px;
}

.chatMensagens {
  padding: 12px;
  height: 68vh;
}

.lineOut {
  margin: 10px;
  display: flex;

  background-color: #dcf8c6;
}

.lineMe {
  margin: 10px;
  display: flex;

  justify-content: right;
}

.contentOut {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px #ccc;
  display: flex;
  flex-direction: column;
  padding: 3px;
  max-width: 60%;
}

.contentMe {
  color: white;
  background-color: rgb(34, 157, 210, 1);
  border-radius: 10px;
  box-shadow: 0 1px 1px #ccc;
  display: flex;
  flex-direction: column;
  padding: 3px;
  max-width: 50%;
}

.messageMe {
  font-size: 14px;
  margin: 5px 40px 5px 5px;
  color: white;
}

.messageOut {
  font-size: 14px;
  margin: 5px 40px 5px 5px;
  color: black;
}

.messageData {
  font-size: 11px;
  color: #999;
  text-align: right;
  height: 15px;
  margin: -5px 5px 0;
}

.containerFooter {
  height: 62px;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f2f5;
  display: flex;
  box-shadow: 2px 1px 3px 1px #0003;
}

.containerFooter > img {
  width: 25px;
  height: 25px;
  color: #54656f;
}

.inputFooter {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 90%;
  box-shadow: inset 0 0 1px 1px #0003;
}

.imgFooter {
  width: 25px;
  height: 25px;
  color: #54656f;
}

.form {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.scroll::-webkit-scrollbar {
  width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(34, 157, 210, 1);
  border-radius: 3px;
}
