/* styles.css */


.fc-button-primary {
 background-color: #282828 !important;
 border-radius: 12px !important;
 border: none !important;
 box-shadow: 2px 2px 2px 2px rgb(100, 100, 100, 0.2)!important;

 
}

.fc-view-harness .fc-view-harness-active{
  border-radius:12px !important;
}

.fc-header-toolbar {
  border-bottom: 8px solid #229DD2;
  padding-bottom: 2%;
}

.box-modal {
  background-color: #fff;
  border: 2px solid rgb(147, 147, 147) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  width: 30%;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


