/* styles.css */


.fc-button-primary {
  background-color: #282828 !important;
  border-radius: 4px !important;
  border: none !important;
  box-shadow: 2px 2px 2px 2px rgb(100, 100, 100, 0.2) !important;
  margin-top: 5px !important;

}

.fc-view-harness .fc-view-harness-active {
  border-radius: 12px !important;
}

.fc-header-toolbar {
  border-bottom: 8px solid #229DD2;
  padding-bottom: 2%;
}

.box-header {
  width: 100%;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: #229DD2;

}

.close {
  color: white;
  font-size: 15px;
  border-radius: 360px;
  border: 2px solid white;
  padding: 5px 10px;
  cursor: pointer;
}

.date {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-left: 10%;


}

.box-modal {
  background-color: #fff;
  border: 2px solid rgb(147, 147, 147);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.box {
  margin: 0;
  font-weight: bold;
  color: #333;
  border-radius: 60px;

}

.box-body {
  margin-left: 5%;
  padding-bottom: 5%;
}

.box h3 {
  text-align: left;
}

.box p {
  margin: 0;
  color: #8e8e8e;
  border: 1px solid #cccccc;
  padding: 4px;
  width: 50%;
  border-radius: 6px;
}

.fc-event-title {
  margin-left: 3px !important;
}

.fc-event {
  background-color: #e1e1e1 !important;
  margin-top: 5px;
}

.fc-popover-header {
  font-weight: bold;
  background-color: #229DD2 !important;
  color: white !important;
}