@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300;700&family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Css Home | Inicio */

body{
    overflow-x: hidden;
}

/* NavBar */

.logo{
    height: 30px;
    width: auto;
}

.menu{
    justify-content: space-between;
}

.conteudo-collapse{
    justify-content: space-between;
    width: 65%;
    flex-grow: 0 !important;
}

.navbar-botoes{
    display: flex;
    flex-direction: row;
}

.texto-opcoes-menu{
    font-family: 'IBM Plex Sans Thai Looped' !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #000000 !important;
}

.btn-menu{
    font-family: 'IBM Plex Sans Thai Looped' !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.btn-login{
    border: 2px solid #000000 !important;
    margin-right: 20px !important;
    color: #000000 !important;
}

.btn-cadastro{
    border: 2px solid #269DD3 !important;
    background-color: #269DD3!important;
    color: #ffffff !important;
}

/* NavBar */

/* Carousel */

.img-carousel{
    width: 100%;
    height: 600px !important;
    object-fit: cover;
    filter: brightness(90%);
}

.div-texto-carousel {
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 8%;
    z-index: 20;
    color: white;
    text-shadow: 3px 2px 3px rgba(0,0,0,.6);
}

.texto-carousel{
    font-family: 'IBM Plex Sans Thai Looped' !important;
    font-weight: 400;
    color: #ffffff;
    font-size: 56px;
}

.destaque-azul{
    font-weight: bold !important;
    color: #269DD3;
    text-decoration: underline;
}

.destaque-laranja{
    font-weight: bold !important;
    color: #D48526;
    text-decoration: underline;
}

/* Carousel */

/* Separador Sessão */

.separador{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #0c0c0c;
}

/* Separador Sessão */

/* Galeria */

.galeria img{
    width: 100%;
    height: auto;
}

/* Galeria */

/* Conteudo Pagina */

.col-5 img{
    object-fit: cover;
}

.img-promocional{
    height: 500px;
    width: 100%;
    border-radius: 8px;
}

.quem-somos{
    /* background-color: #0c0c0c; */
}

.quem-somos h1{
    /* color: #ffffff; */
    font-family: 'Nunito Sans';
}

.quem-somos p{
    /* color: #ffffff; */
    font-family: 'Nunito Sans';
}

.row h1{
    font-size: 42px;
    font-weight: 600;
}

.row p{
    font-size: 16px;
}

.row{
    align-items: center;
}

.produto{
    text-align: right;
}

.produto h1{
    color: #0c0c0c;
}

.produto p{
    color: #0c0c0c;
}

.btn-explorar{
    background-color: #269DD3 !important;
    color: #ffffff !important;
    align-self: self-end;
}

/* Conteudo Pagina */

/* Footer */

.rodape{
    display: flex;
    justify-content: center;
    color: #ffffff;
}

/* Footer */

/* Css Home | Fim */

/* ============================================================ */

/* Css Login | Inicio */

.logo-form{
    height: 50px;
    width: auto;
}

.tela-login{
    /* padding: 0 !important; */
}

.div-bg-login img{
    height: auto;
    width: 100%;
}

.div-form-login{
    background-color: #ffffff;
}

input{
    border: 1px solid #000000 !important;
}

.div-form-login .row{
    width: 100%;
}

.row-login .col-6{
    padding: 0;
}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start !important;
    width: 100%;
}

.form-login .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.div-form-login h1{
    text-align: center;
}

.form-login-cima .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login-baixo .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login-baixo h1{
    font-family: 'Nunito Sans';
    font-size: 32px;
    font-weight: 700;
}

.form-login-baixo label{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 16px;
}

.form-login-baixo input{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 16px;
}

.botoes-login{
    display: flex;
    flex-direction: row;
}

.btn-form-login{
    border: 2px solid #000000 !important;
    background-color: #000000 !important;
    color: #ffffff !important;
    width: 100%;
}

.col-botao{
    padding-right: 0 !important;
}

.btn-form-login:hover {
    border: 2px solid #000000 !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    margin-right: 20px !important;
}

.row-insta{
    border: 2px solid #000000;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-insta p{
    font-family: 'Nunito Sans';
    font-weight: 700;
}

.row-insta:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.form-text:hover {
    color: #269DD3;
    text-decoration: underline;
    cursor: pointer;
}

.esqueci-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icone-voltar{
    position: absolute;
    bottom: 90%;
    left: 2%;
    z-index: 20;
    color: white;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
}

/* Css Login | Fim */