import { useStyles } from "./{{ pascalCase name }}.styles"

const {{ pascalCase name }} = () => {
  const classes = useStyles()

  return (
    <div style={classes.teste}>oi</div>
  )
}

export default {{ pascalCase name }}